@media print {
  #RMReportes,
  #Panel15 > main > div.row > div > div.d-flex.bd-highlight.mb-3,
  #Panel15 > main > div.d-flex.bd-highlight > div,
  #gvTrabajoActivoV3_ctl00 > tfoot,
  #gvTrabajoActivoV3_ctl00 > thead > tr > th > input {
    display: none !important;
  }

  #Panel15 > main > div.main-filtros > div.page-header.bg-grey > div > div textarea {
    overflow: hidden !important;
    resize: none !important;
  }

  #Panel15 > main > div.main-filtros > div.page-header.bg-grey > div > div label {
    text-wrap: nowrap !important;
  }

  #Panel15 > main > div.main-filtros div.page-header.bg-grey {
    margin-bottom: 0 !important;
    padding: 8px 0 !important;
  }
  #Panel15 > main > div.main-filtros div.page-header .page-header.row {
    margin-bottom: 12px !important;
  }

  #Panel15 > main > div.d-flex.justify-content-center {
    margin-bottom: 30px !important;
  }

  #gvTrabajoActivoV3 table tbody {
    color: #000 !important;
    font-weight: 500 !important;
  }

  #gvTrabajoActivoV3_ctl00 > thead > tr > th,
  #gvTrabajoActivoV3_ctl00 > tbody > tr > td,
  #gvTrabajoActivoV3_ctl00 {
    border-color: #000 !important;
  }

  #gvTrabajoActivoV3_ctl00 > thead > tr > th a {
    color: #000 !important;
    font-weight: bold !important;
  }

  #gvTrabajoActivoV3 {
    border: none !important;
  }

  .RadGrid_Bootstrap .rgSelectedRow > td {
    background-color: #fff !important;
    color: #000 !important;
  }
}
