/* styleDefaulDashBoard */
[data-bs-theme='dark'] {
  .form-wrapper {
    background-color: transparent;
    color: rgb(230, 237, 243) !important;
  }

  .form-wrapper .form-control {
    box-shadow: 0 0 8px 0 #5460a4c2;
    background-color: transparent !important;
    color: #000 !important;
  }

  .form-wrapper input::placeholder {
    color: #000 !important;
  }

  #WucHeader_myInput::placeholder {
    color: #e6edf3 !important;
  }

  #WucHeader_myInput:hover {
    border: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    background-color: red !important;
  }

  .form-group .fas {
    color: #000 !important;
  }

  #ctl00 {
    .btn,
    span .fas {
      background-color: transparent !important;
      color: rgb(230, 237, 243) !important;
    }

    button.btn {
      background-color: #000000b5 !important;
    }
  }
  .grid-container .container-fluid {
    display: none !important;
  }
  .main-cards {
    display: none !important;

    .card {
      background-color: rgba(177, 186, 196, 0.12) !important;
    }
  }
  .bg-craft-header {
    background: none !important;
  }
}
